$colors: (
  primary: #bb081d,
  secondary: #fb511f,
  contrast: #701d0e,
  highlight: #fac532,
  calm: #fa9f42,
  balanced: #edd6cb,
  danger: #cc0000,
  good: #339900,
  white: #fff,
  light: #f5f5f5,
  stable: #ccc,
  medium: #999,
  dark: #666,
  coal: #444,
  black: #000,
  transparent: transparent
);
